#map {
    height: 100vh;
    background-color: grey;
}

.results {
    background-color: grey;
    height: 100vh;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.col.text {
    padding-left: 15px;
    padding-right: 15px
}